<h1>Book Notes</h1>

<a href="/add">Add Book</a>

<form method="GET" action="/">
    <!-- Preserve search -->
    <input type="hidden" name="search" value="<%= searchQuery || '' %>" />


    <select name="sort" onchange="this.form.submit()">
        <option value="newest" <%=currentSort==="newest" ? "selected" : "" %>>
            Newest First
        </option>

        <option value="oldest" <%=currentSort==="oldest" ? "selected" : "" %>>
            Oldest First
        </option>

        <option value="rating_desc" <%=currentSort==="rating_desc" ? "selected" : "" %>>
            Highest Rated
        </option>

        <option value="rating_asc" <%=currentSort==="rating_asc" ? "selected" : "" %>>
            Lowest Rated
        </option>
    </select>
</form>

<form method="GET" action="/" style="margin-bottom: 20px;">

    <!-- Search Input -->
    <input type="text" name="search" placeholder="Search by title or author..." value="<%= searchQuery || '' %>" />

    <!-- Keep sorting when searching -->
    <input type="hidden" name="sort" value="<%= currentSort %>" />

    <button type="submit">Search</button>

</form>

<% books.forEach(book=> { %>
    <div class="card">
        <a href="/book/<%= book.id %>">
            <h2>
                <%= book.title %>
            </h2>
        </a>
        <p>
            <%= book.author %>
        </p>

        <!-- Cover -->
        <img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" />

        <p>
            <%= book.summary ? book.summary.substring(0, 100) : "No summary" %>
        </p>
        <p>Rating: <%= book.rating %>
        </p>

        <a href="/edit/<%= book.id %>">Edit</a>

        <form action="/delete/<%= book.id %>" method="POST">
            <button>Delete</button>
        </form>
    </div>
    <% }) %>